/* .button-container {
  display: grid;
  grid-template-columns: repeat(8,12%);
  grid-template-rows: repeat(2,40%) repeat(4,80%);
  grid-gap: 5% 0.3%;
} */


.button-container {
  display: grid;
  grid-template-columns: repeat(8,12%);
  grid-template-rows: repeat(6,40%);
  grid-gap: 5% 0.3%;
}

/* .button-item{
  use location technique
  height: 200%;
} */
