/* .button-container {
  display: grid;
  grid-template-columns: repeat(8,12%);
  grid-template-rows: repeat(2,40%) repeat(4,80%);
  grid-gap: 5% 0.3%;
} */


.button-container {
  display: grid;
  grid-template-columns: repeat(8,12%);
  grid-template-rows: repeat(9,40%);
  grid-gap: 5% 0.3%;
}

.button-item{
  grid-row: span 2;
}
