.drawer-menu {
  width: 40%;
  height: 100%;

  position: absolute;
  right: 0px;
  z-index: 2;

  display: none;
}

.cancel-drawer-icon {
  padding: 3%;
  height: 30px;
  width: 30px;
}

.drawer-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.drawer-action-item {
  padding-top: 3%;
  padding-bottom: 3%;
}

@keyframes screen-duller-animation {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.422);
  }
}

.screen-duller {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.422);
  animation-name: screen-duller-animation;
  animation-duration: 300ms;
}

@keyframes screen-duller-remove-animation {
  from {
    background-color: rgba(0, 0, 0, 0.422);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.screen-duller-remove {
  display: none;

  background-color: rgba(0, 0, 0, 0);
  animation-name: screen-duller-remove-animation;
  animation-duration: 300ms;
}

@media only screen and (max-width: 700px) {
  .drawer-menu {
    display: block;
  }
}
