body .default-margin {
  margin-left: 10%;
  margin-right: 10%;
}

.default-elevation {
  z-index: 2;
}

.default-border {
  border-radius: 5px;
  outline: none;
}

/* info: dark theme */

body {
  background-color: #18191a;
}

/* body {
  background-color: white;
} */

.dark-component {
  
  background-color: #3a3c3d;

  border-width: 0px;
}

.dark-component-text-color{
  color: #d8d8d8;
}

.dark-component:focus {
  background-color: #424446;
}

.dark-component-hover:hover {
  background-color: #424446;
}

.dark-component-button-click:active,
/*info: focused because for the first time button styles are not assigned */
.dark-component-button-hold:focus,
/*info: if any other button is click button will loose its style so we have to do use this class without focus */
.dark-component-button-hold,
.primary-background-color {
  background-color: #cf6679;
}

.dark-component-button-hold:hover {
  background-color: #d47284;
}

