body {
  margin-left: 10%;
  margin-right: 10%;
}

.default-elevation {
  z-index: 2;
}

/* info: dark theme */

body {
  background-color: #18191a;
}

/* body {
  background-color: white;
} */

.dark-component {
  color: #d8d8d8;
  background-color: #3a3c3d;

  border-width: 0px;
}

.dark-component:hover,
.dark-component:focus {
  background-color: #424446;
}
